{{define "head"}}
<head>
  <meta charset="utf-8">
  <title>ffmpeg-webrtc</title>
  <link rel="stylesheet" href="../assets/css/style.css"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{{end}}
