### JetBrains IDE ###
#####################
.idea/

### Emacs Temporary Files ###
#############################
*~

### Folders ###
###############
bin/
vendor/

### Files ###
#############
*.ivf
*.opus
tags
cover.out
*.sw[poe]
