env:
  - GO111MODULE=on

notifications:
  email: false
  slack:
    secure: IYjXoe03KykZ3v4GgUwGzfWRepO5DnJdxB87lSQ2IMsF6PBFSc3CaOX3GUclHIlzTdchR+PHj1jtEZZVSkgfp9amZBCcqbJTBOPG1YA6hxOvTpgeWIttMH0cmMxSCuCa4RfkuRH2+UXbjREMJ3ENau2CTMKReyW4Jddh9dREZohVmYuqN6uuBqCndYpt3Lm1Hv+T+vqxwTDdE/q0hwGMiwgvQm7N3K397e1q1mg+o4tMGwqyUIPnEPjaSKcEuOBa8Rqyl96nn+HGZK0zvNqUOxlzeRMM0VBcxe2s+zY/SuLj4OwNl1zEmIfY6Qj70t2cmT3xJvJprB4pCwR7q78b4lfpNu6rqCJPIZG/qDFT+XSuhDCmLlCO/+Uhtu11pgjV8UMNLTKJth+7hurH7oLNb7jYk9VYsiKhs41LICyDjJNzS5yPatF5xj0HOujb6Uh/pfI+9a+IpPSeXv1gBo8H3oWa6TfRhuTUS3Jc48p/jriZmgWgbKa1HKTaY9ENvAdZFfxJdrRg3Y4SKnjZcAPw7ijRIx1oaM3rHYbOTm/dj4ggho7EgTO3k8toQ5PKohrbBG5RERqHJvC47SXDt0fEjeGnAfN7Xtj0Pq8YyaFIj7CmCCGoI//2sWkK3AmjnwIuW0hUMsL3GsED+p0lsu6FX9wysJwy2Z2mTfIX/CXmB6w=

install:
  # Manually download and install Go 1.12 instead of using gimme.
  # It looks like gimme Go causes some errors on go-test for Wasm.
  - wget -O go.tar.gz https://dl.google.com/go/go1.12.linux-amd64.tar.gz
  - tar -C ~ -xzf go.tar.gz
  - rm go.tar.gz
  - export GOROOT=~/go
  - export PATH=$GOROOT/bin:$PATH
  - go version
  - go env
  # Install Node 11 (required for WASM tests)
  - source ~/.nvm/nvm.sh
  - nvm install 11
  - node --version
  - npm i -g yarn
  - yarn install

before_install:
  - sudo apt-get install libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev
  - wget https://raw.githubusercontent.com/creationix/nvm/v0.31.0/nvm.sh -O ~/.nvm/nvm.sh

before_script:
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | bash -s -- -b $GOPATH/bin v1.14.0
  - go get github.com/mattn/goveralls

script:
  - golangci-lint run ./...
  - cd examples && golangci-lint run ./... -D gochecknoinits
  - cd ..
  - rm -rf examples # Remove examples, no test coverage for them
  - go test -coverpkg=$(go list ./... | tr '\n' ',') -coverprofile=cover.out -v -race -covermode=atomic ./...
  - GOOS=js GOARCH=wasm go test -exec="./test-wasm/go_js_wasm_exec" -v .
  - goveralls -coverprofile=cover.out -service=travis-ci
  - bash .github/assert-contributors.sh
  - bash .github/lint-disallowed-functions-in-library.sh
  - bash .github/lint-commit-message.sh
  - bash .github/lint-filename.sh
