# SPDX-FileCopyrightText: 2023 The Pion community <https://pion.ly>
# SPDX-License-Identifier: MIT
version: '3'
services:
  answer:
    container_name: answer
    build: ./answer
    command: answer -offer-address offer:50000

  offer:
    container_name: offer
    depends_on:
      - answer
    build: ./offer
    command: offer -answer-address answer:60000
